
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: darkcyan;
    background: lightgray;
  }

.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    background: white;
  }

h1 {
padding: 10px 0;
margin: 0;
font-size: 32px;
font-weight: bold;
color: darkcyan;
text-align: left;
}

h2 {
padding: 10px 0;
margin: 0;
font-size: 24px;
font-weight: bold;
color: darkcyan;
text-align: center
}

h3 {
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    color: black;
    text-align: left
}